@media (max-width: 950px) {
  .discount-menu {
    grid-template-columns: minmax(200px, 1fr);
    grid-auto-rows: minmax(300px, 500px);
  }
  .m2 {
    margin: 0 auto;
    padding: 40% 0 0 15%;
  }
  .m3 {
    order: 1;
  }
  .discount-details {
    padding: 20% 0 0 5%;
  }
  .discount-details.d2 {
    padding: 20% 0 10% 20%;
  }
  .more {
    margin: 10px 0;
  }
}
@media (max-width: 700px) {
  nav {
    flex-direction: column;
    .nav-link {
      padding-left: 10px;
    }
  }

  .discount-details.d2 {
    padding: 20% 0 0 30%;
  }
  .more {
    margin: 10px 0;
  }
}
@media (max-width: 550px) {
  button {
    width: 150px !important;
    font-size: 1.2em !important;
  }

  .menu {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    .menu-item {
      margin: 0 10px;
    }
  }

  .step {
    flex-direction: column;
  }
  .delivery {
    background-image: none;
    background: #ecede8;
    h1 {
      font-size: 3.3em;
    }
  }
  .quote {
    padding: 5% 10% !important;

    h1 {
      font-size: 5em;
    }
    p {
      font-size: 1.2em;
    }
    background: none;
    background-color: #dcebc0;
  }
  .discount-details {
    padding: 5% 0 0 20%;
    &.d2 {
      padding: 5% 0 0 25%;
    }
  }

  .footer-text {
    flex-direction: column;

    h3,
    p {
      text-align: center;
    }
    p {
      font-size: 1em;
    }
    .right {
      justify-content: space-around;
    }
  }
}
